a.out
*.txt
.vscode/
*.o
*.yml
*.plist
obj
*.log
*.xml
.idea
*.replace
*.vgcore
polymorph                                                                                                                                                           